@import "tailwindcss";
.card{  
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  width: 360px;
  padding: 32px 24px;
  text-align: center;}
.name{
  font-size: 22px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 6px;
}
.front{
  font-size: 14px;
  font-weight: 500;
  color:gray;
  margin-bottom: 24px;
}
.trun{
  font-size: 15px;
  line-height: 1.5;
  color: #4b5563;
  margin-bottom: 32px;
}
.contact{
    display: block;
  width: 100%;
  background-color: #4338ca;
  color:white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 28px;
}